<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<div id="container">
    <h1>TO-DO List <i class="fas fa-plus"></i></h1>
    <input type="text" placeholder="Add New Todo">
    <ul>
        <li id="meal"><span><i class="far fa-trash-alt"></i></span> BREAKFAST</li>
        <li><span><i class="far fa-trash-alt"></i></span> Oats(主食)</li>
        <li><span><i class="far fa-trash-alt"></i></span> Fruits (*2)(水果)</li>
        <li><span><i class="far fa-trash-alt"></i></span> (Soymilk, Red bean with purple rice milk, Green bean)(蛋白質，主食)</li>
        <li><span><i class="far fa-trash-alt"></i></span> (Coffe or Tea)(抗氧化)</li>
        <li id="meal"><span><i class="far fa-trash-alt"></i></span> NOON</li>
        <li><span><i class="far fa-trash-alt"></i></span> Grains (ex: Pumpkins, Corns, Potatos, Brown rice)(主食)</li>
        <li><span><i class="far fa-trash-alt"></i></span> Vegetables(蔬菜)</li>
        <li><span><i class="far fa-trash-alt"></i></span> An egg(蛋白質)</li>
        <li><span><i class="far fa-trash-alt"></i></span> Peanuts/ Almonds(堅果)</li>
        <li><span><i class="far fa-trash-alt"></i></span>  Yogurt/ Pickles/ Fermented Soybean/ Asparagus/ Probiotics (益生菌)</li>
        <li id="meal"><span><i class="far fa-trash-alt"></i></span> NIGHT</li>
        <li><span><i class="far fa-trash-alt"></i></span> Grains(主食)</li>
        <li><span><i class="far fa-trash-alt"></i></span> Fish/ Meat (蛋白質)</li>
        <li><span><i class="far fa-trash-alt"></i></span> (Vegetables)(蔬菜)</li>
    </ul>
</div> 

<script type="text/javascript" src="app.js"></script>
</body>
</html>